.TextInputWithFocusButtonDiv {
    padding: 5px 5px 5px 5px;

    /* border: 2px solid red; */
}

.TextInputWithFocus {
    height: 27px
}

.TextInputWithFocusButton {
    padding: 5px 5px 5px 5px;
    margin: 0px 8px 0px 8px;
    height: 30px
}